<div class="row row-center price">
  <div class="col-tabs border-block">
    <div class="help-msg">Добавьте по одной фотографии. Загрузите как минимум 1 фотографию. На данный момент можно добавить до 5 фотографий.<br>Добавив фотографии, не забудьте активировать ваш клуб и открыть его для бронирования во вкладке "Основаная информация"</div>
    {% if club.photos.all %}
      <div class="owl-carousel owl-theme photo-slider">
        {% for photo in club.photos.all %}
          <div class="item">
            <img src="{{ photo.file.url }}" alt="">
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if club.photos.all.count < 5 %}
    <div class="row row-center">
      <button type="button" class="button add-photo" data-id="{{ club.id }}">Добавить фотографии</button>
    </div>
    {% endif %}

  </div>
</div>
