<form action="{% url 'clubs:table_delete' table.id %}" method="post" class="table-form">
  {% csrf_token %}
  <div>Вы уверены?</div>
  <!-- <div>Вместе с игрой будут удалены ее столы.</div> -->
  <div>
    <button type="submit" name="submit" class="submit table-delete table-button ld-over-inverse" data-id="{{ table.id }}">Да, я уверен<div class="ld ld-ring ld-spin"></div></button>
  </div>
  <div>
    <button type="button" name="button" class="button table-delete-cancel table-button"">Нет, отменить</button>
  </div>
</form>
