{% extends "./base.html" %}
{% block title %}Бильярдные клубы Москвы{% endblock %}
{% block content %}
  <p>Развитие бильярда как игры, как спорта и как бизнеса.</p>
  <h3>Онлайн-бронирование столов (и других услуг/продуктов) бильярдных клубов и других профессиональных участников рынка</h3>
  <p>Наша компания предоставляет систему(онлайн-платформу), с помощью которой все бильярдные клубы (далее Клубы) и другие профессиональные участники рынка могут выставлять для бронирования свои услуги и продукты, а посетители данного веб-сайта и мобильного приложения – осуществлять бронирования.</p>
  <p>При совершении бронирования через наш сервис посетители вступают в прямые (имеющие юридическую силу) договорные отношения с профессиональным участником рынка (далее Поставщик), у которого посетители делают бронирование или приобретают услугу/продукт. С момента совершения бронирования мы действуем исключительно как посредник между посетителем и Поставщиком, передавая детали бронирования соответствующему Поставщику (соответствующим Поставщикам) и отправляя посетителю электронное подтверждение бронирования от имени Поставщика.</p>
  <p>При предоставлении нашего Сервиса предлагаемая информация основана на сведениях, предоставленных нам Поставщиками. Поставщики имеют доступ к сети экстранет и несут полную ответственность за обновление информации о ценах, наличии столов и других данных, отражаемых на нашей Платформе. Несмотря на то, что мы будем делать все возможное, чтобы обеспечить качество оказываемых услуг, мы не сможем проверять достоверность и гарантировать точность или полноту всей информации, а также не будем нести ответственность за какие-либо ошибки (включая явные и типографские), сбои (возникшие из-за (временной и/или частичной) поломки, ремонта, усовершенствования или поддержки нашей Платформы или по иным причинам), неточную, недостоверную или ложную информацию или неполучение информации. Каждый Поставщик при любых условиях несёт ответственность за точность, полноту и правильность (описательной) информации (включая цены и наличие столов), отображаемой на нашей Платформе.</p>
  <p></p>
  <p>клубу нет необходимости связываться с клиентом, так как бронирование проходит в автоматическом режиме без участия администратора, подтверждение бронирования происходит в автоматическом режиме</p>
  <p>система работает в автономном режиме круглосуточно 24 часа 7 дней в неделю</p>
  <p>клуб сам определяет размер квоты для бронирования онлайн, цены, набор дополнительных услуг</p>
  <p>система онлайн-бронирования представляет собой программный веб-продукт, позволяющий любому посетителю увидеть текущее состояние забронированных и свободных столов, определиться с выбором стола для себя</p>
  <p>система онлайн-бронирования позволяет любому посетителю увидеть текущее состояние забронированных и свободных столов и прочих услуг/продуктов, и определиться с выбором для себя</p>
  <p>нет никаких для клиента доплат</p>
  <p>начисление различных бонусов за бронирования через наш сервис, которые позже использовать в качестве оплаты</p>
  <p>бронирование дополнительного оборудования (кии и т.п.)</p>
  <p>бронировать можно круглосуточно 24 часа 7 дней в неделю</p>
  <p>истинное онлайн-бронирование</p>
  <p></p>
  <p></p>
  <h1>Пользовательское соглашение</h1>
  <p>Изменения в настоящей Политике конфиденциальности<br>
Мы имеем право периодически вносить изменения в настоящую Политику конфиденциальности в ответ на изменение законодательных, нормативных или эксплуатационных требований. Мы уведомим вас о любых таких изменениях (в том числе об их вступлении в силу).</p>
  
{% endblock content %}
